---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>
        Добро пожаловать на чтение и изучение Бхагавадгиты - как она есть!
      </h1>
      <p>
        «Бхагавад-гита» является квинтэссенцией ведической мудрости. В этом
        произведении в сжатом виде изложены основные идеи древнеиндийской
        философии, в том числе закон кармы и концепция перевоплощения души.
        Адресована широкому кругу читателей. С русской транслитерацией,
        дословным и литературным переводом и комментариями. 4-е издание,
        исправленное
      </p>
      <p>4-е издание, исправленное</p>
      <p>Главы:</p>
      <ul>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/"
            >Бхагавад-гита как она есть
          </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/"
            >Ученые о «Бхагавад-гите как она есть»
          </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/">Посвящение </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/"
            >Предыстория «Бхагавад-гиты»
          </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/"
            >Предисловие к английскому изданию
          </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/">Введение </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/">Цепь духовных учителей </a>
        </li>
        <li>
          <a href="blog/the_bhagavad-gita_as_it_is/"
            >ГЛАВА ПЕРВАЯ: Обзор армий на поле битвы Курукшетра
          </a>
          <ul>
            <li>БГ 1.1</li>
          </ul>
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to <a
          href="https://docs.astro.build/"
          >read the docs
        </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
        questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out <a
          href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template
        </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
